
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px 100px;
}

/* classi in comune */




/* intestazione */

.header {
    height: 80px;
    background-color: rgb(219, 78, 219);
}




/* articolo */

.article {
    height: 500px;
    background-color: rgb(197, 186, 105);
    margin: 20px 0px;
}



/* corpo */

.main_container {
    height: 600px;
    background-color: rgb(32, 76, 211);
}




/* header corpo */

.main_header {
    width: 100%;
    height: 70px;
    background: skyblue;
}




/* aside */

.aside { 
    float: left;
    margin: 20px 0px;
    width: 20%;
    height: 470px;
    background: skyblue;
}



/* section */

.main_section {
    float: left;
    width: calc(100% - 40% -  40px); 
    height: 470px;
    background-color: skyblue;
    margin: 20px 20px;
}


/* footer */




/* clearfix  */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }