
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px 100px;
}

/* classi in comune */




/* intestazione */

.header {
    height: 70px;
    background-color: rgb(219, 78, 219);
}




/* articolo */

.article {
    height: 500px;
    background-color: rgb(197, 186, 105);
    margin: 20px 0px;
}



/* corpo */

.main_container {
    height: 600px;
    background-color: rgb(32, 76, 211);
}



/* aside */




/* section */




/* footer */